.colorN{
    background-color:#FFAB4A;
}
#prueba{
    background-color: #FFFCEC;
}
#aj{
    color:#FFAB4A;
    font-size: 100px;
}

body{
    background-color: #000000;
}
#textow{
    padding-bottom: 120px;
    padding-top: 90px;
    padding-left: 300px;
    padding-right: 300px;
}

#abastecimiento{
    background-color:#FFAB4A;
    border-color: #FFAB4A;
}