.colorN{
    background-color:#F2A007;
}
#prueba{
    background-color: #FFFCEC;
}
#aj{
    color:#F2A007;
    font-size: 100px;
}

body{
    background-image: url('../images/fondo.jpg');
    background-color: #000000;
    color: #FFFCEC;
}
#textow{
    padding-bottom: 120px;
    padding-top: 90px;
    padding-left: 300px;
    padding-right: 300px;
}

#abastecimiento{
    background-color:#F2A007;
    border-color: #F2A007;
}